[alias]
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	ss = status
[init]
	defaultBranch = master
[user]
	name = xianwei.wei
	email = weixianwei0129@gmail.com
[core]
	autocrlf = false
	editor = vim
[pull]
	ff = true
